{% extends "base.html" %}

{% block content %}
  <h1>
    Model: {{ car.model }}
  </h1>
  <p><b>Manufacturer:</b> {{ car.manufacturer.name }} ({{ car.manufacturer.country }})</p>
  <div class="d-flex justify-content-between align-items-start">
    <h2>Drivers</h2>
    {% if car in user.cars.all %}
      <a href="{% url 'taxi:remove-car' pk=car.id %}" class="btn btn-danger link-to-page">
        Delete me from this car
      </a>
    {% else %}
      <a href="{% url 'taxi:assign-car' pk=car.id %}" class="btn btn-success link-to-page">
        Assign me from this car
      </a>
    {% endif %}
  </div>
  <hr>
  {% for driver in car.drivers.all %}
    <p><b>Username: </b>{{ driver.username }}</p>
    <p><b>Full name: </b>{{ driver.first_name }} {{ driver.last_name }}</p>
    <p><b>License number: </b>{{ driver.license_number }}</p>
    <hr>
  {% endfor %}
  <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary">
    Update
  </a>
  <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger">
    Delete
  </a>
{% endblock %}
